*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:rgb(27,27,27) ;
}



.outfit{
  font-family: "Outfit" !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}